<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/bootstrap.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/responsive.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/style.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/inner.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/Seal/switcher.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/es-carousel.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/prettyphoto.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/footer-color.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/color1.css")" type="text/css" id="theme" />
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/rs-plugin/style.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/rs-plugin/preview.css")" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/rs-plugin/settings.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/rs-plugin/captions.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/portfolio.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/portfolio-shape.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/elements.css")" type="text/css" media="screen">

</head>
<body class="inner-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <!-- Logo & Navigation -->
        <header>
            <div class="container clearfix">
                <div class="row ">
                    <div class="span12">
                        <!-- Logo -->
                        <h1 class="brand brand_">
                            <a href="#">
                                <img id="logo" src="http://mayflower-premiumsoft.homakimi-digital.com/img/logo.png" style="height:50px;width:100px" alt="">
                            </a>

                        </h1>
                        <!-- Navigation -->
                        <div class="navbar navbar_">
                            <div class="container">

                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!--==============================content=================================-->
    <section id="content">
        <div class="breadcrumb-wrapper">
            <div class="shadowdrop"></div>
            <div class="container">
                <h2></h2>
                @*<h2><span>口碑值：34分</span><small></small></h2>
                    <ul class="breadcrumb fright">
                            <li><a href="#">Home</a> <span class="divider">/</span></li>
                            <li><a href="#">Layouts</a> <span class="divider">/</span></li>
                            <li class="active">Price Table</li>
                        </ul>*@
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
        <div id="footer" class="section-3 footer-dark">
            <div class="container">
                <div class="row">
                    <!-- Contact us -->
                    <div class="span3">
                        <h2>Contact us</h2>
                        <address class="vcard">
                            <span class="street-address">3301 Envato Melbourne, Little Lonsdale St</span> <span class="tel">+1 234 123 4567</span> <a href="mailto:info@owltemplates.com" class="email">info@owltemplates.com</a>
                            @*<ul id="social" class="tooltip-demo">
                                    <li>
                                        <a rel="tooltip" title="RSS" href="#">
                                            <img alt="RSS"
                                                 src="img/social_icons/rss.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="tooltip" title="Twitter" href="#">
                                            <img alt="Twitter"
                                                 src="img/social_icons/twitter.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="tooltip" title="Facebook" href="#">
                                            <img alt="Facebook"
                                                 src="img/social_icons/facebook.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="tooltip" title="Dribbble" href="#">
                                            <img alt="Dribbble"
                                                 src="img/social_icons/dribbble.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="tooltip" title="Flickr" href="#">
                                            <img alt="Flickr"
                                                 src="img/social_icons/flickr.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="tooltip" title="Skype" href="#">
                                            <img alt="Skype"
                                                 src="img/social_icons/skype.png">
                                        </a>
                                    </li>
                                </ul>*@
                        </address>
                    </div>
                    <!-- Useful Links -->
                    <div class="span3">
                        <h2>Useful Links</h2>
                        <ul class="list">
                            <li><a href="#">In faucibus orci luctus et</a></li>
                            <li><a href="#">Ultrices posuere cubilia Curae</a></li>
                            <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
                            <li><a href="#">Nam elit agna,endrerit sit amet</a></li>
                        </ul>
                    </div>
                    <!-- twitter feed  -->
                    <div class="span3">
                        <h2>Twitter Feed</h2>
                        <div class="tweets">
                            <p> Loading Tweets... </p>
                            <ul id="tweet-list"></ul>
                        </div>
                    </div>
                    <!-- Newsletter -->
                    <div class="span3">
                        <h2>Newsletter</h2>
                        <form class="navbar-inverse form-search">
                            <div class="navbar-search input-append">
                                <input type="text" placeholder="Your Email" class="span2 search-query">
                                <button type="submit" class="btn btn-warning">submit</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <div class="clearfix p1">
                            <p class="text-info">
                                <i>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing, sed diam

                                    nonummy nibh eui.
                                </i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 2 -->
        <div id="copyrights" class="footer-2 footer-dark">
            <div class="container">
                <div class="row">
                    <div class="span12">Success &copy; 2012 <a href="#">Privacy Policy</a></div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/bootstrap.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/custom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.easing.1.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.sliderTabs.js")"></script>*@
    <!-- jQuery Slider  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/rs-plugin/jquery.themepunch.plugins.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/rs-plugin/jquery.themepunch.revolution.min.js")"></script>*@
    <!-- Elastislider  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.elastislide.js")"></script>*@
    <!-- Pretty photo  -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.prettyphoto.js")"></script>
    <!-- Carousel  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/carousel.js")"></script>*@
    <!-- totop  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.ui.totop.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/prettify.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/application.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.cookie.js")"></script>*@
    <!-- Quicksand  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.quicksand.js")"></script>*@
    <!-- Image animated Style  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.gridrotator.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.mobile.customized.min.js")"></script>*@
    <!-- Accordion  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/accordion.js")"></script>*@
    <!-- Tabs  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/tabs.js")"></script>*@
    <!-- Sitemap  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/sitemap.js")"></script>*@
    <!-- Navigation  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/nav-small.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.mobilemenu.js")"></script>*@
    <!-- Isotope  -->
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Seal/jquery.isotope.min.js")"></script>*@
    <!-- Metro Style  -->
    <!-- Elastislider  -->
</body>
</html>